<form action='' method = "POST">
    <h4>Inventory Fields:</h4>
    <p>Product Name <input type = "text" name = "product_name" /></p>
    <p>Product Description <input type = "text" name = "product_description" /></p>
    <p>Product Unit <input type = "text" name = "product_unit" /></p>
    <p>Product Price <input type = "number" name = "product_price" /></p>
    <p>Product Quantity <input type = "number" name = "product_quantity" /></p>
    <p>Other Details <input type = "text" name = "other_details" /></p>

    <!-- show warehouse information-->
    <h4>Available Warehouse IDs</h4>
    {% for warehouse in warehouses %}
      <p><span>{{ warehouse.id }}</span></p>
    {% endfor %}

    <!-- allow warehouse allocation -->
    <p>Warehouse Allocation (id separated by commas): <input type = "text" name = "warehouse_allocation" /></p>

    <p><input type = "submit" value = "Submit" /></p>
</form>