<form action='' method = "POST">
    <p>Product Name <input type = "text" name = "product_name" value = "{{ inventory.product_name }}" /></p>
    <p>Product Description <input type = "text" name = "product_description" value = "{{ inventory.product_description }}" /></p>
    <p>Product Unit <input type = "text" name = "product_unit" value = "{{ inventory.product_unit }}" /></p>
    <p>Product Price <input type = "number" name = "product_price" value = "{{ inventory.product_price }}" /></p>
    <p>Product Quantity <input type = "number" name = "product_quantity" value = "{{ inventory.product_quantity }}" /></p>
    <p>Other Details <input type = "text" name = "other_details" value = "{{ inventory.other_details }}" /></p>
    <p><input type = "submit" value = "Submit" /></p>
  </form>