<form action='' method = "POST">
    <p>Warehouse Name <input type = "text" name = "warehouse_name" value="{{ warehouse.warehouse_name }}" /></p>
    <p>Warehouse Description <input type = "text" name = "warehouse_description" value="{{ warehouse.warehouse_description }}" /></p>
    <p>Warehouse Location <input type = "text" name = "warehouse_location" value="{{ warehouse.warehouse_location }}" /></p>
    <p>Warehouse Status <input type = "checkbox" name = "warehouse_status" value="{{ warehouse.warehouse_status }}" /></p>
    <p><input type = "submit" value = "Submit" /></p>
  </form>